

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 162px;*/
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper{
  margin-top:20px;
  margin-bottom: 20px;
}

.topSpace{
  padding-top:20px;
}
.textBoxWrapper{
  margin-bottom: 20px;
}

.textAlign{
  text-align: center;
}

@media (max-width: 468px) {
  .buttonWrapper{
    margin-bottom: 20px;
  }
  .wrapper{
    margin-top:0px;
    margin-bottom: 20px;
  }
}



.mainData{
  background-color:#eae9e7;
 }

 .marginButton{
   margin:0px;
   float:right;
   display:inline;
   
 }

 .todoText{
  display:inline;
  float:left;
 }

 .mb-1{
   font-size:20px
 }
 
.footer{
  background: #291f1f;
  text-align: center;
  font:black;
  line-height: 1.em;
}